<?xml version="1.0" encoding="UTF-8"?>
<!--日志级别：TRACE < DEBUG < INFO < WARN < ERROR < FATAL,如果设置为WARN，则低于WARN的信息都不会输出-->
<!--
    status : 这个用于设置log4j2自身内部的信息输出,可以不设置,当设置成trace时,会看到log4j2内部各种详细输出
    monitorInterval : Log4j能够自动检测修改配置文件和重新配置本身, 设置间隔秒数。
-->
<Configuration status="WARN">

    <!-- 自定义属性 -->
    <Properties>
        <Property name="baseDir">/opt/applog/log4j2</Property>
        <Property name="Console_Pattern">%green{%d{[yyyy-MM-dd HH:mm:ss.SSS]}} [%-5level] [logger:%5logger{36}] [%magenta{%t}] [%C - %3M:%3L] - %cyan{%msg%n}</Property>
        <Property name="File_Pattern">%d{[yyyy-MM-dd HH:mm:ss.SSS]} [%-5level] [logger:%5logger{36}] [%t] [%C - %3M:%3L] - %msg%n</Property>
    </Properties>

    <!-- 自定义日志级别 -->
    <CustomLevels>
        <!-- OFF-0|FATAL-100|ERROR-200|WARN-300|INFO-400|DEBUG-500|TRACE-600|ALL-Integer.MAX_VALUE -->
        <CustomLevel name="NOTICE" intLevel="450" />
    </CustomLevels>


    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${Console_Pattern}"/>
        </Console>
        <File name="fileAppender" fileName="${baseDir}/server.log">
            <PatternLayout>
                <Pattern>${File_Pattern}</Pattern>
            </PatternLayout>
        </File>

        <File name="asyncFileAppender" fileName="${baseDir}/async-server.log">
            <PatternLayout>
                <Pattern>${File_Pattern}</Pattern>
            </PatternLayout>
        </File>

        <Async name="AsyncAppender">
            <AppenderRef ref="asyncFileAppender"/>
        </Async>

        <!-- 滚动日志 -->
        <RollingFile name="rollingFileAppender" fileName="${baseDir}/app.log" filePattern="${baseDir}/app.model.%d{yyyyMMdd}.info.00%i.log">
            <PatternLayout>
                <Pattern>${File_Pattern}</Pattern>
            </PatternLayout>
            <DefaultRolloverStrategy min="1" max="9" />
            <Policies>
                <!--Cron表到式匹配滚动，每天0点 测试生成用每秒 0/1 * * * * ? *-->
                <!--<CronTriggeringPolicy schedule="0 0 0 * * ?" />-->
                <!--根据日期模式中最具体的时间单位进行翻转的频率 interval默认为1 -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <!--一旦文件达到指定大小 ，SizeBasedTriggeringPolicy将导致翻转。大小可以以字节为单位指定，后缀为KB，MB或GB-->
                <SizeBasedTriggeringPolicy size="1MB"/>
            </Policies>
        </RollingFile>

    </Appenders>


    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="rollingFileAppender" />
        </Root>


        <!--<logger name="org.springframework" level="all" >-->
            <!--<AppenderRef ref="Console"/>-->
        <!--</logger>-->


        <logger name="OK" level="INFO">
            <AppenderRef ref="fileAppender" />
            <AppenderRef ref="AsyncAppender" />
            <AppenderRef ref="rollingFileAppender" />
        </logger>
    </Loggers>
</Configuration>